MerchantFrontend/src/conf/xml-resources/web-service-references/BankSW/wsdl/10.58.34.3_8999/BankWS/BankSW.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://business.vietinbank.ws.payment.viettel.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://business.vietinbank.ws.payment.viettel.com/" name="BankSW">
<types>
<xsd:schema>
<xsd:import namespace="http://business.vietinbank.ws.payment.viettel.com/" schemaLocation="http://10.58.34.3:8999/BankWS/BankSW?xsd=1" />
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="verifyCard">
<part name="parameters" element="tns:verifyCard" />
</message>
<message name="verifyCardResponse">
<part name="parameters" element="tns:verifyCardResponse" />
</message>
<message name="refund">
<part name="parameters" element="tns:refund" />
</message>
<message name="refundResponse">
<part name="parameters" element="tns:refundResponse" />
</message>
<portType name="BankSW">
<operation name="hello">
<input wsam:Action="http://business.vietinbank.ws.payment.viettel.com/BankSW/helloRequest" message="tns:hello" />
<output wsam:Action="http://business.vietinbank.ws.payment.viettel.com/BankSW/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="verifyCard">
<input wsam:Action="http://business.vietinbank.ws.payment.viettel.com/BankSW/verifyCardRequest" message="tns:verifyCard" />
<output wsam:Action="http://business.vietinbank.ws.payment.viettel.com/BankSW/verifyCardResponse" message="tns:verifyCardResponse" />
</operation>
<operation name="refund">
<input wsam:Action="http://business.vietinbank.ws.payment.viettel.com/BankSW/refundRequest" message="tns:refund" />
<output wsam:Action="http://business.vietinbank.ws.payment.viettel.com/BankSW/refundResponse" message="tns:refundResponse" />
</operation>
</portType>
<binding name="BankSWPortBinding" type="tns:BankSW">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="verifyCard">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="refund">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="BankSW">
<port name="BankSWPort" binding="tns:BankSWPortBinding">
<soap:address location="http://10.58.34.3:8999/BankWS/BankSW" />
</port>
</service>
</definitions>